n8n/workflow-alerta-riesgo-alto.json
{
  "name": "Sinapsistencia — Alerta Riesgo Alto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "risk-alert",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook: Recibir Evaluación",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "risk-alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-risk-level",
              "leftValue": "={{ $json.body.riskLevel }}",
              "rightValue": "alto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-risk-critical",
              "leftValue": "={{ $json.body.riskLevel }}",
              "rightValue": "critico",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-if-risk",
      "name": "IF: Riesgo Alto o Crítico",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-case-id",
              "name": "caseId",
              "value": "={{ $json.body.caseId }}",
              "type": "string"
            },
            {
              "id": "assign-risk-score",
              "name": "riskScore",
              "value": "={{ $json.body.riskScore }}",
              "type": "number"
            },
            {
              "id": "assign-risk-level",
              "name": "riskLevel",
              "value": "={{ $json.body.riskLevel }}",
              "type": "string"
            },
            {
              "id": "assign-risk-percent",
              "name": "riskPercent",
              "value": "={{ Math.round($json.body.riskScore * 100) }}",
              "type": "number"
            },
            {
              "id": "assign-specialty",
              "name": "specialty",
              "value": "={{ $json.body.specialty }}",
              "type": "string"
            },
            {
              "id": "assign-doctor-name",
              "name": "doctorName",
              "value": "={{ $json.body.doctorName || 'No asignado' }}",
              "type": "string"
            },
            {
              "id": "assign-doctor-email",
              "name": "doctorEmail",
              "value": "={{ $json.body.doctorEmail || '' }}",
              "type": "string"
            },
            {
              "id": "assign-recommendations",
              "name": "recommendations",
              "value": "={{ ($json.body.recommendations || []).join('\\n• ') }}",
              "type": "string"
            },
            {
              "id": "assign-risk-factors",
              "name": "topFactors",
              "value": "={{ ($json.body.riskFactors || []).sort((a,b) => b.contribution - a.contribution).slice(0,3).map(f => f.name + ': ' + Math.round(f.value * 100) + '%').join(', ') }}",
              "type": "string"
            },
            {
              "id": "assign-doc-complete",
              "name": "documentationComplete",
              "value": "={{ $json.body.documentationComplete }}",
              "type": "boolean"
            },
            {
              "id": "assign-consent",
              "name": "informedConsent",
              "value": "={{ $json.body.informedConsent }}",
              "type": "boolean"
            },
            {
              "id": "assign-timestamp",
              "name": "evaluatedAt",
              "value": "={{ $json.body.evaluatedAt || new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-data",
      "name": "Set: Preparar Datos de Alerta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "fromEmail": "alertas@sinapsistencia.com",
        "toEmail": "admin@sinapsistencia.com",
        "subject": "=🚨 ALERTA: Riesgo {{ $json.riskLevel.toUpperCase() }} — Caso {{ $json.caseId || 'sin ID' }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: {{ $json.riskLevel === 'critico' ? '#dc2626' : '#ea580c' }}; padding: 24px 32px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">⚠️ Alerta de Riesgo {{ $json.riskLevel === 'critico' ? 'CRÍTICO' : 'ALTO' }}</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 8px 0 0; font-size: 14px;\">Sistema de evaluación médico-legal — Sinapsistencia</p>\n  </div>\n  \n  <div style=\"padding: 32px; border: 1px solid #e2e8f0; border-top: none; border-radius: 0 0 12px 12px;\">\n    <div style=\"background: #fef2f2; border: 1px solid #fecaca; border-radius: 8px; padding: 16px; margin-bottom: 24px; text-align: center;\">\n      <p style=\"font-size: 48px; font-weight: 800; color: {{ $json.riskLevel === 'critico' ? '#dc2626' : '#ea580c' }}; margin: 0;\">{{ $json.riskPercent }}%</p>\n      <p style=\"color: #64748b; margin: 4px 0 0; font-size: 13px;\">Score de riesgo</p>\n    </div>\n    \n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr style=\"border-bottom: 1px solid #f1f5f9;\">\n        <td style=\"padding: 10px 0; color: #64748b; width: 140px;\">Caso ID</td>\n        <td style=\"padding: 10px 0; font-weight: 600;\">{{ $json.caseId || 'N/A' }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f1f5f9;\">\n        <td style=\"padding: 10px 0; color: #64748b;\">Nivel de riesgo</td>\n        <td style=\"padding: 10px 0;\"><span style=\"background: {{ $json.riskLevel === 'critico' ? '#fef2f2' : '#fff7ed' }}; color: {{ $json.riskLevel === 'critico' ? '#dc2626' : '#ea580c' }}; padding: 2px 10px; border-radius: 12px; font-weight: 600; font-size: 13px;\">{{ $json.riskLevel.toUpperCase() }}</span></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f1f5f9;\">\n        <td style=\"padding: 10px 0; color: #64748b;\">Especialidad</td>\n        <td style=\"padding: 10px 0;\">{{ $json.specialty }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f1f5f9;\">\n        <td style=\"padding: 10px 0; color: #64748b;\">Médico</td>\n        <td style=\"padding: 10px 0;\">{{ $json.doctorName }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f1f5f9;\">\n        <td style=\"padding: 10px 0; color: #64748b;\">Factores principales</td>\n        <td style=\"padding: 10px 0;\">{{ $json.topFactors }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; color: #64748b;\">Evaluado</td>\n        <td style=\"padding: 10px 0;\">{{ $json.evaluatedAt }}</td>\n      </tr>\n    </table>\n    \n    <div style=\"margin-top: 24px; padding: 16px; background: #f8fafc; border-radius: 8px;\">\n      <p style=\"font-weight: 600; margin: 0 0 8px; font-size: 14px; color: #334155;\">📋 Recomendaciones:</p>\n      <p style=\"margin: 0; font-size: 13px; color: #475569; line-height: 1.6;\">• {{ $json.recommendations }}</p>\n    </div>\n    \n    <div style=\"margin-top: 24px; text-align: center;\">\n      <p style=\"font-size: 12px; color: #94a3b8;\">Este correo fue generado automáticamente por el sistema de alertas de Sinapsistencia.</p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "id": "node-email-admin",
      "name": "Email: Notificar Administrador",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 140],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Sinapsistencia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_APP_URL || 'http://localhost:3000' }}/api/audit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_INTERNAL_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "RISK_ALERT_TRIGGERED"
            },
            {
              "name": "resource",
              "value": "risk_assessment"
            },
            {
              "name": "resourceId",
              "value": "={{ $json.caseId }}"
            },
            {
              "name": "details",
              "value": "={\"riskLevel\":\"{{ $json.riskLevel }}\",\"riskScore\":{{ $json.riskScore }},\"specialty\":\"{{ $json.specialty }}\",\"doctorName\":\"{{ $json.doctorName }}\",\"automatedBy\":\"n8n\",\"evaluatedAt\":\"{{ $json.evaluatedAt }}\"}"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "node-log-audit",
      "name": "HTTP: Registrar Log de Auditoría",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "alertas@sinapsistencia.com",
        "toEmail": "={{ $json.doctorEmail }}",
        "subject": "=⚕️ Caso con riesgo {{ $json.riskLevel }} requiere atención — Sinapsistencia",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #1e293b 0%, #334155 100%); padding: 24px 32px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 20px;\">⚕️ Notificación de Caso</h1>\n    <p style=\"color: rgba(255,255,255,0.7); margin: 6px 0 0; font-size: 13px;\">Sistema Sinapsistencia</p>\n  </div>\n  <div style=\"padding: 28px 32px; border: 1px solid #e2e8f0; border-top: none; border-radius: 0 0 12px 12px;\">\n    <p style=\"font-size: 15px; color: #334155; line-height: 1.6;\">Estimado/a <strong>Dr(a). {{ $json.doctorName }}</strong>,</p>\n    <p style=\"font-size: 14px; color: #475569; line-height: 1.6;\">Le informamos que la evaluación de riesgo del caso <strong>{{ $json.caseId || 'asignado' }}</strong> en la especialidad de <strong>{{ $json.specialty }}</strong> ha arrojado un nivel de riesgo <strong style=\"color: {{ $json.riskLevel === 'critico' ? '#dc2626' : '#ea580c' }};\">{{ $json.riskLevel.toUpperCase() }} ({{ $json.riskPercent }}%)</strong>.</p>\n    \n    <div style=\"background: #fffbeb; border-left: 4px solid #f59e0b; padding: 14px 16px; border-radius: 0 8px 8px 0; margin: 20px 0;\">\n      <p style=\"margin: 0; font-size: 14px; color: #92400e;\"><strong>Acción requerida:</strong> Revise el caso y la documentación asociada a la brevedad.</p>\n    </div>\n    \n    <p style=\"font-size: 14px; color: #475569;\"><strong>Principales factores de riesgo:</strong><br/>{{ $json.topFactors }}</p>\n    \n    <div style=\"margin-top: 20px; padding: 14px; background: #f8fafc; border-radius: 8px;\">\n      <p style=\"font-weight: 600; margin: 0 0 6px; font-size: 13px; color: #334155;\">Recomendaciones:</p>\n      <p style=\"margin: 0; font-size: 13px; color: #475569; line-height: 1.6;\">• {{ $json.recommendations }}</p>\n    </div>\n    \n    <p style=\"margin-top: 24px; font-size: 12px; color: #94a3b8;\">Este mensaje fue generado automáticamente. Para más detalles ingrese a la plataforma Sinapsistencia.</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "node-email-doctor",
      "name": "Email: Notificar Médico",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 460],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Sinapsistencia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-doc-incomplete",
              "leftValue": "={{ $json.documentationComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "condition-no-consent",
              "leftValue": "={{ $json.informedConsent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-if-docs",
      "name": "IF: Documentación Pendiente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1260, 300]
    },
    {
      "parameters": {
        "fromEmail": "alertas@sinapsistencia.com",
        "toEmail": "={{ $json.doctorEmail }}",
        "subject": "=📋 Recordatorio: Documentación pendiente — Caso {{ $json.caseId || '' }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #7c3aed 0%, #6d28d9 100%); padding: 24px 32px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 20px;\">📋 Documentación Pendiente</h1>\n  </div>\n  <div style=\"padding: 28px 32px; border: 1px solid #e2e8f0; border-top: none; border-radius: 0 0 12px 12px;\">\n    <p style=\"font-size: 15px; color: #334155;\">Estimado/a <strong>Dr(a). {{ $json.doctorName }}</strong>,</p>\n    <p style=\"font-size: 14px; color: #475569; line-height: 1.6;\">El caso <strong>{{ $json.caseId || 'evaluado' }}</strong> presenta un riesgo <strong>{{ $json.riskLevel }}</strong> y tiene documentación pendiente:</p>\n    \n    <ul style=\"font-size: 14px; color: #475569; line-height: 2;\">\n      {{ $json.documentationComplete ? '' : '<li style=\"color: #dc2626;\"><strong>❌ Documentación clínica incompleta</strong></li>' }}\n      {{ $json.informedConsent ? '' : '<li style=\"color: #dc2626;\"><strong>❌ Consentimiento informado no firmado</strong></li>' }}\n    </ul>\n    \n    <div style=\"background: #fef2f2; border: 1px solid #fecaca; border-radius: 8px; padding: 14px 16px; margin: 20px 0;\">\n      <p style=\"margin: 0; font-size: 14px; color: #991b1b;\"><strong>⚠️ Importante:</strong> La falta de documentación completa incrementa significativamente el riesgo legal. Complete la documentación a la brevedad.</p>\n    </div>\n    \n    <p style=\"font-size: 12px; color: #94a3b8; margin-top: 24px;\">Generado automáticamente por Sinapsistencia.</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "node-email-reminder",
      "name": "Email: Recordatorio Documentación",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 240],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Sinapsistencia"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-noop",
      "name": "No-Op: Riesgo Aceptable",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 520]
    },
    {
      "parameters": {},
      "id": "node-noop-docs-ok",
      "name": "No-Op: Docs Completos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1500, 420]
    }
  ],
  "connections": {
    "Webhook: Recibir Evaluación": {
      "main": [
        [
          {
            "node": "IF: Riesgo Alto o Crítico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Riesgo Alto o Crítico": {
      "main": [
        [
          {
            "node": "Set: Preparar Datos de Alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op: Riesgo Aceptable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Preparar Datos de Alerta": {
      "main": [
        [
          {
            "node": "Email: Notificar Administrador",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Registrar Log de Auditoría",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email: Notificar Médico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Registrar Log de Auditoría": {
      "main": [
        [
          {
            "node": "IF: Documentación Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Documentación Pendiente": {
      "main": [
        [
          {
            "node": "Email: Recordatorio Documentación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op: Docs Completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "sinapsistencia",
      "id": "tag-sinapsistencia"
    },
    {
      "name": "alertas",
      "id": "tag-alertas"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
